body {
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;

}

#__next {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.profile-creation-container {
  background-color: #89d0e7;
  color: #020202;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f9f6f6;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

select {
  background-color: #f2f2f2;
  color: #333333;
}

button {
  background-color: #394aea;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
section {
  margin-bottom: 2rem ;
}

sectionTitle {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 3rem;
}

centerIcon {
  display: center;
  justify-content: center;
  align-items: center;
}

center {
  text-align: center;
  margin: auto;
}

projectLink {
  color: #222;
  text-decoration: none;
}

/* container {
  background-color: #055fef;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
} */

@media screen and (max-width: 480px) {
  .profile-creation-container {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: var(--mui-palette-text-main);
  width: 100%;

}